:host {
  height: 100%;
  width: 100%;
}

.car-brand-main {
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;

  & .gutter-row {
    &.left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: auto;
      width: auto;

      & .car-brand-label {
        color: rgba(47, 70, 95, 1);
        font-family: 'Poppins SemiBold';
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        width: fit-content;
        height: 40px;
        display: flex;
        align-items: center;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      & .car-brand-dropdown {
        width: fit-content;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 21px;

        font-family: 'Poppins';
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #232323;

        & .anticon-up {
          font-size: 10px;
          vertical-align: baseline;
          margin-right: 17px;
        }
        & .anticon-down {
          font-size: 10px;
          vertical-align: baseline;
          margin-right: 17px;
        }
      }
    }

    &.right {
      display: flex;
      justify-content: space-between;
    }
  }

  & nz-row:nth-of-type(2) {
    overflow: auto;
    height: -webkit-fill-available;

    &::-webkit-scrollbar-track {
      //box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
      border-radius: 10px;
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-color: #adadad;
      min-height: 40px;
      padding-top: 10px;
    }
  }
}

.car-brand-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 240px;
  height: 40px;
  background: #f5f5f5;
  border-radius: 9999px;
  border: 0;

  & > input {
    height: 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #8c8c8c;
    background: inherit;
  }
}

.car-brand-dropdown-menu {
  max-width: 164px;
  border: 1px solid #e3e3e3;
  box-shadow: 0px -1px 2px rgb(35 35 35 / 8%), 0px 4px 8px rgb(35 35 35 / 10%);
  border-radius: 4px;
  width: 164px;

  & .ant-dropdown-menu-item:hover {
    margin: 0 5px;
  }
  & .ant-dropdown-menu-item-selected {
    margin: 0 5px;
  }
}

.car-brand-btn-add {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px 16px;
  gap: 12px;

  width: 139px;
  height: 40px;

  background: #0f5edd;
  border-radius: 4px;

  font-weight: 500;
  font-size: 14px;
  line-height: 22px;

  display: flex;
  align-items: center;

  color: #ffffff;
}

.car-brand-list-item {
  width: 100%;
  min-height: 124px;
  background: #ffffff;
  box-shadow: inset 0px -1px 0px #f1f1f1;

  & img.brand-item-logo {
    width: 64px;
    height: 64px;
    object-fit: contain;
  }

  & .brand-content {
    display: flex;
    flex-direction: column;

    & > label {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #2f465f;
    }

    & > .brand-content-describe {
      & > span {
        font-size: 14px;
        line-height: 22px;

        &:nth-of-type(1) {
          font-weight: 400;
          color: #8c8c8c;
        }
        &:nth-of-type(2) {
          font-weight: 500;
          color: #0f5edd;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  & .brand-content-update {
    display: flex;
    flex-direction: column;
    & > span {
      font-size: 14px;
      line-height: 30px;

      &:nth-of-type(1) {
        font-weight: 500;
        color: #2f465f;
      }
      &:nth-of-type(2) {
        font-weight: 400;
        color: #8c8c8c;
      }
    }
  }

  & .status-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    gap: 8px;

    width: 111px;
    height: 40px;

    background: #fafafa;
    border-radius: 4px;
    border: 0;

    & .status-icon {
      width: 12px;
      height: 12px;
      border-radius: 100%;
    }

    & .status-text {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
  }

  & .btn-view-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 16px;
    margin-left: auto;
    gap: 10px;
    width: 118px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #b4b4b4;

    & span.ng-star-inserted {
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;

      display: flex;
      align-items: center;
      color: #232323;
    }
  }
}

.demo-loadmore-list {
  min-height: 350px;
}
.loadmore {
  text-align: center;
  margin-top: 12px;
  height: 32px;
  line-height: 32px;
}
