/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Poppins';
  font-style: normal;
}

.ant-modal {
  font-family: 'Poppins';
  font-style: normal;
  & .ant-modal-content {
    width: 600px;
    // height: 684px;
    background: #ffffff;
    box-shadow: 0px -1px 2px rgba(35, 35, 35, 0.08),
      0px 4px 8px rgba(35, 35, 35, 0.1);
    border-radius: 6px;

    & .ant-modal-close {
      box-sizing: border-box;
      position: absolute;
      width: 32px;
      height: 32px;
      right: 25px;
      top: 25px;
      background: #f1f1f1;
      border: 1px solid #e3e3e3;
      border-radius: 50%;
      & .ant-modal-close-x {
        height: unset;
        width: unset;
        line-height: unset;
      }
    }

    & .ant-modal-header {
      padding: 16px 24px;
      gap: 593px;
      height: 82px;
      background: #fafafa;
      box-shadow: inset 0px -1px 0px #f1f1f1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    & .ant-modal-footer {
      padding: 24px;
      padding-top: 0;
      border-top: 0;
    }

    & .modal-title {
      display: flex;
      flex-direction: column;
      & > span:nth-of-type(1) {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #232323;
      }
      & > span:nth-of-type(2) {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #5f5f5f;
      }
    }

    & .modal-body {
      & .content-label {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #232323;
      }
      & .ant-divider.ant-divider-horizontal {
        margin: 12px 0;
      }
      & .logo-add {
        position: relative;
        box-sizing: border-box;
        width: 120px;
        height: 120px;
        background: #fafafa;
        border: 1px dashed #e3e3e3;
        border-radius: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 36px;
        cursor: pointer;

        & i {
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: #232323;
          cursor: pointer;
        }
        & label {
          font-weight: 500;
          font-size: 12px;
          line-height: 20px;
          color: #8c8c8c;
          cursor: pointer;
        }
        & .file-upload {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          opacity: 0.0;
          z-index: 1;
          cursor: pointer;
        }
        & .logo-uploaded {
          position: absolute;
          height: 100%;
          width: 100%;
          border-radius: 50%;
          background-position: center;
          background-size: cover;
        }
      }
      & form {
        background: #ffffff;
        & label {
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: #8c8c8c;
          margin-bottom: 4px;
        }
        & input {
          box-sizing: border-box;
          border: 1px solid #e3e3e3;
          border-radius: 4px;
          margin-top: 4px;
        }
        & textarea {
          border: 1px solid #e3e3e3;
          border-radius: 4px;
          margin-top: 4px;
          resize: none;
        }
        & .brand-status-block {
          display: flex;
          flex-direction: column;
          & .select-status {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 8px;
            width: fit-content;
            height: 34px;
            background: #cef7e2;
            border-radius: 48px;

            & .select-status-item {
              display: flex;
              align-items: center;
              justify-content: center;
              width: fit-content;
              padding: 5px 12px;
              background: #fafafa;
              border-radius: 50px;
              & .outside-circle {
                position: relative;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                margin-right: 10px;
                border: 1px solid rgba(95, 95, 95, 1);
                & .inside-circle {
                  position: absolute;
                  height: 8px;
                  width: 8px;
                  top: 15%;
                  left: 15%;
                  border-radius: 50%;
                  background-color: rgba(95, 95, 95, 1);
                }
              }
              & span {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: rgba(95, 95, 95, 1);
              }
              & i {
                margin-left: 10px;
                color: rgba(95, 95, 95, 1);
              }
              &.active {
                background: #cef7e2;
                & .outside-circle {
                  border: 1px solid #1f7b4d;
                  & .inside-circle {
                    background-color: #1f7b4d;
                  }
                }
                & span {
                  color: #1f7b4d;
                }
              }
            }
          }
          // & .ant-select-selector {
          //   display: flex;
          //   flex-direction: row;
          //   justify-content: center;
          //   align-items: center;
          //   padding: 5px 12px;
          //   gap: 8px;
          //   background: #cef7e2;
          //   border-radius: 48px;
          //   border: 0;
          //   box-shadow: unset;
          // }
        }
      }
    }

    & .modal-footer {
      & button:nth-of-type(1) {
        box-sizing: border-box;
        padding: 9px 16px;
        gap: 12px;
        width: 83px;
        height: 40px;
        background: #ffffff;
        border: 1px solid #b4b4b4;
        border-radius: 4px;
      }
      & button:nth-of-type(2) {
        padding: 9px 16px;
        gap: 12px;
        width: 127px;
        height: 40px;
        background: #0f5edd;
        border-radius: 4px;
      }
    }
  }
}

.cdk-overlay-container {
  // & nz-option-container {
  //   & > div {
  //     height: inherit;
  //     width: 100%;
  //     & > .cdk-virtual-scroll-viewport {
  //       height: inherit !important;
  //       width: 100%;

  //       &::-webkit-scrollbar-track {
  //         //box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  //         border-radius: 10px;
  //         background-color: transparent;
  //       }

  //       &::-webkit-scrollbar {
  //         position: absolute;
  //         width: 6px;
  //         height: 6px;
  //         background-color: transparent;
  //       }

  //       &::-webkit-scrollbar-thumb {
  //         border-radius: 10px;
  //         box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  //         background-color: #adadad;
  //         min-height: 40px;
  //         padding-top: 10px;
  //       }
  //       & .ant-select-item-option-selected {
  //         background-color: transparent;
  //       }
  //     }
  //   }
  // }
  & ul.status-dropdown-menu {
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 149px;
    height: 104px;
    background: #ffffff;
    border: 1px solid #e3e3e3;
    box-shadow: 0px -1px 2px rgba(35, 35, 35, 0.08),
      0px 4px 8px rgba(35, 35, 35, 0.1);
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 18px;
    z-index: 9999999999;

    & .ant-dropdown-menu-item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 8px;
      width: fit-content;
      height: 34px;
      background: #cef7e2;
      border-radius: 48px;
      padding: 0;

      & .select-status-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        padding: 5px 12px;
        background: #fafafa;
        border-radius: 50px;
        & .outside-circle {
          position: relative;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          margin-right: 10px;
          border: 1px solid rgba(95, 95, 95, 1);
          & .inside-circle {
            position: absolute;
            height: 8px;
            width: 8px;
            top: 15%;
            left: 15%;
            border-radius: 50%;
            background-color: rgba(95, 95, 95, 1);
          }
        }
        & span {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: rgba(95, 95, 95, 1);
        }
        & i {
          margin-left: 10px;
          color: rgba(95, 95, 95, 1);
        }
        &.active {
          background: #cef7e2;
          & .outside-circle {
            border: 1px solid #1f7b4d;
            & .inside-circle {
              background-color: #1f7b4d;
            }
          }
          & span {
            color: #1f7b4d;
          }
        }
      }
    }
  }
}

.car-brand-checkbox {
  & .ant-checkbox {
    & .ant-checkbox-inner {
      border-radius: 50%;
      width: 24px;
      height: 24px;

      &::after {
        left: 31.5%;
      }
    }
  }
}
